# Ignore virtual environment
py/

# Ignore model files
yolov8n.pt

# Ignore run results
runs/

# Ignore VSCode settings
.vscode/

# Ignore Python cache
__pycache__/

# Ignore video and image files
*.avi
*.mp4
*.jpg
